In [2]:
import datadotworld as dw
import altair as alt
import pandas as pd

In [ ]:
##Example Query

results = dw.query('byuidss/cse-250-baseball-database', 
    '''SELECT *
    FROM allstarfull LIMIT 5''')

print(results.dataframe)

Write a SQL query to create a new dataframe about baseball players who attended BYU-Idaho. 
The new table should contain five columns: playerID, schoolID, salary, and the yearID/teamID 
associated with each salary. Order the table by salary (highest to lowest) and print out the table in your report.

playerID, schoolID, salary, yearID, teamID

In [ ]:
byuiplayers = dw.query('byuidss/cse-250-baseball-database', 
'''
SELECT DISTINCT c.playerid, c.schoolid, salary, s.yearid, s.teamid
FROM collegeplaying c
JOIN salaries s
ON c.playerid = s.playerid
WHERE schoolid = "idbyuid"
''')

print(byuiplayers.dataframe.to_markdown(index = False))

This three-part question requires you to calculate batting average (number of hits divided by the number of at-bats)

Write an SQL query that provides playerID, yearID, and batting average for players with at least 1 at bat that year. Sort the table from highest batting average to lowest, and show the top 5 results in your report.

Use the same query as above, but only include players with at least 10 at bats that year. Print the top 5 results.

Now calculate the batting average for players over their entire careers (all years combined). Only include players with at least 100 at bats, and print the top 5 results.

In [3]:
oneatbat = dw.query('byuidss/cse-250-baseball-database', 
'''
SELECT playerid as PlayerID, yearid as YearID, SUM(h)/SUM(ab) AS BattingAvg
FROM batting
GROUP BY playerid, yearid
HAVING ab >= 1
ORDER BY battingavg desc
LIMIT 5
''')

print(oneatbat.dataframe)

    PlayerID  YearID  BattingAvg
0  meyerbi01    1913         1.0
1  couside01    1923         1.0
2  bowmajo01    1932         1.0
3  plittno01    1918         1.0
4  schalra01    1928         1.0

In [4]:
tenatbat = dw.query('byuidss/cse-250-baseball-database', 
'''
SELECT playerid as PlayerID, yearid as YearID, h/ab AS BattingAvg
FROM batting
GROUP BY playerid, yearid
HAVING ab >= 10
ORDER BY battingavg desc
LIMIT 5
''')

print(tenatbat.dataframe)

    PlayerID  YearID  BattingAvg
0  nymanny01    1974    0.642857
1  carsoma01    2013    0.636364
2  altizda01    1910    0.600000
3  silvech01    1948    0.571429
4  puccige01    1930    0.562500

In [5]:
hundredatbat = dw.query('byuidss/cse-250-baseball-database', 
'''
SELECT playerid as PlayerID, sum(H) as Hits, sum(AB) as AtBats, sum(H)/sum(AB) AS BattingAvg
FROM batting
GROUP BY playerid
HAVING ab >= 100
ORDER BY battingavg desc
LIMIT 5
''')

print(hundredatbat.dataframe)

    PlayerID  Hits  AtBats  BattingAvg
0   cobbty01  4189   11436    0.366299
1  barnero01   860    2391    0.359682
2  meyerle01   513    1443    0.355509
3   kingst01    96     272    0.352941
4  delahed01  2597    7510    0.345806

Q3: Which league has hit more homeruns in the last decade.

In [ ]:
leaguehr = dw.query('byuidss/cse-250-baseball-database',
```
SELECT Name, sum(hr) as HomeRuns, lgid
FROM Teams
GROUP BY teamid
HAVING yearid >= 2011 
OR lgid = "NL" or "AL"
```